body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea{
	width: 400px;
	height: 100px;
}

#leftSection{
	float: left;
	width: 600px;
	border-right: thin dotted black;
	padding-right: 24px;
}

#rightSection{
	float: left;
}
